#menu_lateral a {
    text-decoration: none;
    padding: 5px;
}

#menu_lateral a i {
    margin: 0px 20px;
    justify-content: space-around;
}

#menu_lateral a:hover {
    color: rgba(0, 0, 0, 0.5);
    color: rgb(211, 211, 212);
}