body{
font-size: 80%;
}

table tbody tr td{
	margin:auto;
	padding: auto;
}
.radio{
	height: 18px;
	width: 18px;
}
/*div*/
.form-group{
padding: 2px;
margin: 0%;
}
.texto{
	margin-top: 10px;
	text-align: center;
	font-family: "courier", "sans-serif";
	font-size: 18px;
}
.texto2 {
	margin-top: 10px;
	text-align: center;
	font-family: "courier", "sans-serif";
	font-size: 18px;
}
/* .................................................
div#contenedor{
	background: blue;
	position: relative;
	margin:0px;
} */
.textoAgrDisc {
	margin-top: 10px;
	text-align: center;
	font-family: "courier", "sans-serif";
	font-size: 18px;
}
.textoEditDisc {
	margin-top: 10px;
	text-align: center;
	font-family: "courier", "sans-serif";
	font-size: 18px;
}

div.contenedor{
	position: relative;
	margin:10px;
	width: 150px;
	height: 150px;
	/* border: 3px solid rgb(255, 0, 242);
	 */
}

div.contenedor_modal{
	position: relative;
	margin:10px;
	width: 150px;
	height: 150px;
	/* border: 3px solid rgb(255, 0, 242);
	 */
}
div#contenedor_info{
	margin: 0px 0px 0px 0px;
}
div#contenedor_club{
	/* background: blue; */
	position: relative;
	box-align: center;
	margin:10px auto;
	width: 150px;
	height: 150px;
	/* border: 3px solid rgb(30, 255, 0); */
	
}
div#contenedor{
	/* background: blue; */
	position: relative;
	margin:10px;
	width: 120px;
	height: 120px;
	/* border: 3px solid rgb(30, 255, 0); */
	
}
div#divtexto , div#divtexto2{
	position: absolute;
	bottom: 10px;
    right: 10px;
    min-width:35px;
    height: 25px;
	/* border: 3px solid crimson; */
}
div#divdetalle{
	position: absolute;
	bottom: 10px;
    right: 10px;
    min-width:35px;
    height: 25px;
	/* border: 3px solid blue; */
}
img#btnCancelar{
	float:left;
}

img#imgOrigen{

	
}

img.imgtam{
	width: 150px;
	height: 150px;
}
img.imginfo{
	width: 120px;
	height: 120px;
}

img#imgOrigen2{

	/* width: 200px;
	height: 200px; */
}
img#imgOrigenAgrDisc{

	width: 200px;
	height: 200px;
}
img#imgOrigenEditDisc{

	width: 200px;
	height: 200px;
}
.noVista{
	display: none;
}
.vista{
	opacity:0.7;
 }
.vista:hover{
 	opacity: 1;
 }
 /*file*/
 img#texto , img#texto2{
 	float: right;
 	width: 25px;
	height: 25px;
	/* margin: auto; */
	opacity: 0.5;
 }
 img#texto:hover , img#texto2:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 /* img#texto2{
 	position: absolute;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#texto2:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 } */
 img#textoAgrDisc{
 	position: absolute;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#textoAgrDisc:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 img#textoEditDisc{
 	position: absolute;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#textoEditDisc:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 img#btnCancelarAgrDisc{
 	align-content: top;
 	position: relative;
 	padding-right: 20px;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#btnCancelarAgrDisc:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 .btn_hover{
	
	opacity: 0.7;
	font-size: 16px;
	/* width: 20px;
	height: 20px; */
 }
 .btn_hover:hover{
	/* margin: 0;
	padding: 0; */
	opacity: 1;
	font-size: 17px;
	/* width: 22px;
   height: 22px; */
}
.button{
	margin: 0%;
	padding: 0% 7px;
}

.btn_hover_del{
	/* margin: 0;
	padding: 0; */
	opacity: 0.7;
	font-size: 16px;
	/* width: 20px;
	height: 20px; */
 }
 .btn_hover_del:hover{
	/* margin: 0;
	padding: 0; */
	opacity: 1;
	font-size: 16px;
	/* width: 22px;
   height: 22px; */
}
span.letter_size{
	font-size: 14px;
	margin: 0px 15px;
}
.btn_add{
	margin: 0;
	padding: 0;
	opacity: 0.5;
	color: rgb(255, 230, 0);
	font-size: 25px;
	/* width: 20px;
	height: 20px; */
 }
 .btn_add:hover{
	margin: 0;
	padding: 0;
	color:  rgb(241, 149, 0);
	opacity: 1;
	font-size: 27px;
	/* width: 22px;
   height: 22px; */
}

 img#btnCancelarEditDisc{
 	align-content: top;
 	position: relative;
 	padding-right: 20px;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#btnCancelarEditDisc:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
div#div_file{
	position: relative;/*para q el input vaya dentro del div*/
	padding-left:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#div_file2{
	position: relative;/*para q el input vaya dentro del div*/
	padding-left:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#div_fileAgrDisc{
	position: relative;/*para q el input vaya dentro del div*/
	padding-left:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#div_fileEditDisc{
	position: relative;/*para q el input vaya dentro del div*/
	padding-left:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#content{
	/* position: relative;para q el input vaya dentro del div */
	padding-right:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#content2{
	position: relative;/*para q el input vaya dentro del div*/
	padding-right:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}

div#contentAgrDisc{
	position: relative;/*para q el input vaya dentro del div*/
	padding-right:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#contentEditDisc{
	position: relative;/*para q el input vaya dentro del div*/
	padding-right:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
input#input ,input#input2{
	/* visibility: hidden; */
	display: none;
	
}
/* input#input2{
	visibility: hidden;
	
} */
input#inputAgrDisc{
	visibility: hidden;
	
}
input#inputEditDisc{
	visibility: hidden;
	
}
input#input:hover{
	opacity: 0.6;
}
input#input2{
	opacity: 0.6;
	
}
input#inputAgrDisc{
	opacity: 0.6;
	
}
input#inputEditDisc{
	opacity: 0.6;
	
}
.check_us, #todo, .check_hab, #todo_hab{
	width: 15px;
	height: 15px;
}
.title-table{
	height: 50px;
	height: 30px;
	margin: auto;
	font-weight: bold;
	/*height: 100px;*/
	text-align: center;
}
.title-table-club{
	margin: 20px;
	color: rgb(255, 255, 255);
	height: 50px;
	background: #FF5733;
	text-align: center;
}
.title-table-club h4{
	/* font-weight: bold; */
	font-size: 20px;
}
.menu{
	padding: 0%;
	margin: 0%;
}
thead{
 color: rgb(124, 121, 121);
}
h3{
	padding: 0%;
	margin: 0%;
	height: 21px;
}
h3.display-1 {
	margin: 5px;
}
.modal-title{
	margin: 0px;
	font-size: 18px;
	text-transform: uppercase;
	/* font-weight: 600; */
	color: rgb(151, 151, 151);
}
.title-table h3{
	padding: 0%;
	margin: 0%;
	font-weight: bold;
	font-size: 20px;
	/* font-size: 20px; */
	color: rgb(26, 26, 26);
}
/*input
input#ci, input#password{
	border:3px solid #E74C3C;
}*/

.errorLogin h6{
	color: rgb(228, 118, 103);
}
div.siError{
	margin: 0;
}
div.siError input{
	border: 2px solid  rgb(228, 118, 103);
	/* background-color: #FADBD8; */
    border-radius: 8px;
	
}
div.noError input{
	border-bottom: 2px solid rgba(75, 238, 60, 0.363);
	/* background-color: #FADBD8; */
    border-radius: 8px;
}
/* nav */
.submenu{
	color: black;
}

.submenu :hover{
	background: rgb(253, 253, 253);
	
	color: black;
}
a.link{
	color: dimgray;
	margin: auto;

	/* background: aqua; */
}
.card-header{
	background: white;
}
a.link{
	/* border-right: 1px solid darkgray; */
	
	text-align: center;
	color: rgb(102, 102, 102);
}

.link{
	/* border-right: 1px solid darkgray; */
	text-align: center;
	color: rgb(102, 102, 102);
}

.link :hover{
	/* border-bottom: 2px solid rgba(1, 10, 1, 0.603); */
	color: rgb(102, 102, 102);
	font-weight: bold;
	/* border-radius: 16px; */
	/* background: rgb(177, 175, 175); */
}
.active{
	/* border-radius: 16px; */
	/* background: rgb(94, 92, 92); */
}
a.active{
	/* border-bottom: 2px solid rgba(1, 10, 1, 0.603); */
	color: rgb(102, 102, 102);
	font-weight: bold;
	/* border-radius: 16px; */
	/* background: gray; */
	/* font-weight: bolder; */
	/* font-size: 16px; */
	/* border-bottom: #FF5733 10px; */
}
a.current:link, a.current:visited {
	color: white;
	background-color: blue;
  }

