.radio{
	height: 18px;
	width: 18px;
}
/*div*/
.texto{
	margin-top: 10px;
	text-align: center;
	font-family: "courier", "sans-serif";
	font-size: 18px;
}

div.contenedor{
	width: 200px;
	height: 200px;
}

img#imgOrigen{

	width: 200px;
	height: 200px;
}

.noVista{
	display: none;
}
.vista{
 	display: block;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 .vista:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 /*file*/
 img#texto{
 	position: absolute;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#texto:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
div#div_file{
	position: relative;/*para q el input vaya dentro del div*/
	padding-left:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#content{
	position: relative;/*para q el input vaya dentro del div*/
	padding-right:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}

input#input{
	visibility: hidden;
	
}
input#input:hover{
	opacity: 0.6;
}