.radio{
	height: 18px;
	width: 18px;
}
/*div*/
.texto{
	margin-top: 10px;
	text-align: center;
	font-family: "courier", "sans-serif";
	font-size: 18px;
}
.texto2 {
	margin-top: 10px;
	text-align: center;
	font-family: "courier", "sans-serif";
	font-size: 18px;
}
.textoAgrDisc {
	margin-top: 10px;
	text-align: center;
	font-family: "courier", "sans-serif";
	font-size: 18px;
}
.textoEditDisc {
	margin-top: 10px;
	text-align: center;
	font-family: "courier", "sans-serif";
	font-size: 18px;
}
div.contenedor{
	width: 200px;
	height: 200px;
}

img#imgOrigen{

	width: 200px;
	height: 200px;
}
img#imgOrigen2{

	width: 200px;
	height: 200px;
}
img#imgOrigenAgrDisc{

	width: 200px;
	height: 200px;
}
img#imgOrigenEditDisc{

	width: 200px;
	height: 200px;
}
.noVista{
	display: none;
}
.vista{
 	display: block;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
.vista:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 /*file*/
 img#texto{
 	position: absolute;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#texto:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 img#texto2{
 	position: absolute;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#texto2:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 img#textoAgrDisc{
 	position: absolute;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#textoAgrDisc:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 img#textoEditDisc{
 	position: absolute;
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#textoEditDisc:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 img#btnCancelarAgrDisc{
 	align-content: top;
 	position: relative;
 	padding-right: 20px
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#btnCancelarAgrDisc:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
 img#btnCancelarEditDisc{
 	align-content: top;
 	position: relative;
 	padding-right: 20px
 	width: 25px;
	height: 25px;
	margin: auto;
	opacity: 0.5;
 }
 img#btnCancelarEditDisc:hover{
 	opacity: 1;
 	width: 30px;
	height: 30px;
 }
div#div_file{
	position: relative;/*para q el input vaya dentro del div*/
	padding-left:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#div_file2{
	position: relative;/*para q el input vaya dentro del div*/
	padding-left:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#div_fileAgrDisc{
	position: relative;/*para q el input vaya dentro del div*/
	padding-left:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#div_fileEditDisc{
	position: relative;/*para q el input vaya dentro del div*/
	padding-left:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#content{
	position: relative;/*para q el input vaya dentro del div*/
	padding-right:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#content2{
	position: relative;/*para q el input vaya dentro del div*/
	padding-right:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}

div#contentAgrDisc{
	position: relative;/*para q el input vaya dentro del div*/
	padding-right:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
div#contentEditDisc{
	position: relative;/*para q el input vaya dentro del div*/
	padding-right:20px;
	margin: 0px;
	height: 30px;
	width: 100px;
	
}
input#input{
	visibility: hidden;
	
}
input#input2{
	visibility: hidden;
	
}
input#inputAgrDisc{
	visibility: hidden;
	
}
input#inputEditDisc{
	visibility: hidden;
	
}
input#input:hover{
	opacity: 0.6;
}
input#input2{
	opacity: 0.6;
	
}
input#inputAgrDisc{
	opacity: 0.6;
	
}
input#inputEditDisc{
	opacity: 0.6;
	
}
.check_us, #todo, .check_hab, #todo_hab{
	width: 20px;
	height: 20px;
}